[Unit]
Description=School Platform remote control websockify
After=network.target school-platform-remote-control-gateway.service

[Service]
Type=simple
ExecStart=/usr/bin/websockify --web=/usr/share/novnc --token-plugin TokenFile --token-source /var/lib/air-remote-control/tokens.txt 127.0.0.1:9822
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
